{% extends 'user/base.html' %}
{% block title %}Homepage{% endblock %}

{% block extra_js %}




<script type="text/javascript">
// $( document ).ready( function() {
//     $( '#q' ).keyup( function() {
//         q = $( '#q' ).val();
//         //if(q!="")
//       //  alert(q)
//      // var csrftoken = Cookies.get('csrftoken');
//         $( '#results' ).html( '&nbsp;' ).load( "{% url 'user:ajaxdashboard' %}?q="+q);
    
//     });
// });

$( document ).ready( function() {
 $('#q').keyup(function () {
      var title = $(this).val();
      if(title!='')
      $.ajax({
        url: "{% url 'user:ajaxdashboard' %}",
        data: {
          'q': title
        },
        dataType: 'json',
        success: function (data) {
          var answer=data['hi']
         // alert(answer);
          $( '#results' ).html( answer);
        }
      });

    });
 });


</script>

{% endblock %}


{% block body %}

<!-- <div class="form-signin">
    <h3 class="form-signin-heading">Search by title</h3>
  <input id="q" type="text" placeholder="Search by document title  here..." />
    <br/>
    <div class="margin">
        <div id="results"></div>
    </div>
</div>
 -->

<form method="post">

   <div class="input-group">
    <span class="input-group-addon">Search</span>
        {% csrf_token %}
    <input id="q" type="text" class="form-control" name="msg" placeholder="Search by Author or Title">
  </div>
   <div class="margin">
        <div id="results">
          

{% if not ajax%}

<div class="col-md-3">
</div>

<div class="col-md-6">
  

{%for item in results %}



   
 <span class="pull-right">{{item.visibilty}}</span>
<div class="list-group">

  <a href="{{ item.document.url }}" class="list-group-item">
      <h3 class="mb-1"><b style=" color:red;  ">Title</b>:&nbsp; <b style=" color:blue;  ">{{item.title}}</b></h3>
     <small><b style=" color:red;">Author</b>:&nbsp;<b style=" color:blue;  ">  {{item.branch}}</b></small>

    <p class="mb-1"> <small>   <b style=" color:red;">Abstract</b>:&nbsp;</small>

    <b style=" color:blue;  ">
    {{item.abstract}}
  </b>
  </p>
    
  </a>


    <button id="btn" class="btn btn-primary" data-toggle="collapse" >
   {{item.visibility}}
</button>
</div>

{%endfor%}
</div>
<div class="col-md-3">
</div>
{% endif %}




        </div>
    </div>
</form>

{% endblock %}

