{% extends 'user/base.html' %}
{% block title %}Homepage{% endblock %}

{% block extra_js %}



<!-- script to load the dashboard according to search query -->
<script type="text/javascript">

$( document ).ready( function() {
 $('#q').keyup(function () {
      var title = $(this).val();
      if(title!='')
      $.ajax({
        url: "{% url 'user:ajaxdashboard' %}",
        data: {
          'q': title
        },
        dataType: 'json',
        success: function (data) {
          var answer=data['hi']
         // alert(answer);
          $( '#results' ).html( answer);
        }
      });

    });
 });




</script>

{% endblock %}


{% block body %}

<!-- <div class="form-signin">
    <h3 class="form-signin-heading">Search by title</h3>
  <input id="q" type="text" placeholder="Search by document title  here..." />
    <br/>
    <div class="margin">
        <div id="results"></div>
    </div>
</div>
 -->

<form method="post">

   <div class="input-group">
    <span class="input-group-addon">Search</span>
        {% csrf_token %}
    <input id="q" type="text" class="form-control" name="msg" placeholder="Search by Author or Title">
  </div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>

<script type="text/javascript">

$(document).off('click').on('click','#btn',function(){
var mode= $(this).find(':first-child').text();
var document_id= $(this).find(':first-child').next().text();

// if(mode.length==0)
// {
//   alert("ih");
//   mode=$('#btn').find(':first-child').text();
//   document_id=$('#btn').find(':first-child').next().text();
// }
    if($(this).find(':first-child').text().trim() == 'PUBLIC' ){
      $(this).attr('class','btn btn-danger');
        $(this).find(':first-child').text('PRIVATE');
    }else{
    
        $(this).attr('class','btn btn-success');
   $(this).find(':first-child').text('PUBLIC');
    }      
        $.ajax({
        url: "{% url 'user:toggle' %}",
        data: {
          'mode':mode,
          'document_id':document_id,
        },
        dataType: 'json',
        success: function (data) {
        
        }
      });
});
</script>


   <div class="margin">
        <div id="results">
          

{% if not ajax%}





<div class="col-md-2">
</div>

<div class="col-md-8">
  
<div class="list-group">
  {%for item in results %}

    <div  class="list-group-item list-group-item-action flex-column  ">
        <div class="row">
          <div class="col-md-6"> 
            <span >
              <a href="{{ item.document.url }}"  style="text-decoration:none">&nbsp;&nbsp;&nbsp;
                <b>{{item.title}}
                </b>
              </a>
            </span>
          </div>
        <div class="col-md-6">  <small class="pull-right" >{{item.created_on}}</small>
        </div>
      </div>
      </br>
      <small class="text-muted">{{item.author}}</small>
      </br>
      <p class="mb-1">{{ item.abstract|slice:":30"}}</p>
      <div class="row">
        <div class="col-md-6">
          &nbsp;&nbsp;&nbsp;
      <a  id="btn" data-toggle='tooltip' 
      title="Private Documents will not be visible in other Users search results"
      {%if item.visibilty == 'PUBLIC' %}
       class="btn btn-success" 
       {% else %}
       class="btn btn-danger" 
       {% endif %}
       >
      <div >{{item.visibilty}}</div>
      <div style="display: none">{{item.id}}</div>
    </a>
    </div>
    <div class="col-md-6">
      
      <span class="pull-right "><b class="text-info">Downloads</b>: {{item.downloads}}</span>
    </div>
  </div>
  </div>
{%endfor%}
</div>
<div class="col-md-2">
</div>
{% endif %}




        </div>
    </div>
</form>

{% endblock %}

